@font-face {
  font-family: 'Sf Pro Display Regular';
  src: url('fonts/SFPRODISPLAYREGULAR.OTF') format('truetype')
}

@font-face {
  font-family: 'Sf Pro Display Medium';
  src: url('fonts/SFPRODISPLAYMEDIUM.OTF') format('truetype')
}

@font-face {
  font-family: 'Sf Pro Display Bold';
  src: url('fonts/SFPRODISPLAYBOLD.OTF') format('truetype')
}

/* Откл выделения */
* {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}
/* 
.charts-css{
  --data-axes-color: #2a2a2a;
} */

body {
  background-color: black;
  color: #d5e1d3;
  font-family: 'Sf Pro Display Regular', Arial, sans-serif;
  overflow-x: hidden;
}

/* Появление всех элементов при загрузке страницы */
body > * {
  transform: scale(0.9);
  opacity: 0;
  transition: transform 0.25s ease-out, opacity 0.25s ease-out;
}
body > *.visible {
  transform: scale(1);
  opacity: 1;
}


.movie-chart {
  --color: #749C6C;
  --aspect-ratio: 2 / 1;
}

.charts-css.show-heading caption {
  font-size: 1.25rem;
  padding: 4rem 0 0.5rem 0;
  /* color: #90b089; */
  font-family: 'Sf Pro Display Bold', Arial, sans-serif;
}

/* Уменьшить ширину места для имён */
.charts-css.bar {
  --labels-size: 3.75rem;
}

table.charts-css td {
  padding: 0.25rem;
  /* font-size: 0.85rem; */
  border-radius: 0.35rem;
}






.button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0.5rem;
  gap: 0.5rem;
}

.toggle-btn {
  flex: 1 1 30%;
  max-width: 30%;
  padding: 0.25rem 2rem;
  background-color: #000000;
  color: #749C6C;
  border: 1px solid #749C6C;
  cursor: pointer;
  border-radius: 0.35rem;
  font-size: 0.9rem;
  font-family: 'Sf Pro Display Bold', Arial, sans-serif;
  transition: background-color 0.1s;
}

.toggle-btn.active {
  background-color: #2e3e2b;
}

.hidden {
  display: none !important;
}




.bottom-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #1C1C1C;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 0.1rem solid #3D3C3F;
  padding-top: .25rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  box-shadow: 0 0 1rem 0.25rem rgba(0, 0, 0, 1);  
  touch-action: none;
}

.bottom-menu-item {
  flex: 1;
  text-align: center;
  color: white;
  font-size: 0.9rem;
  font-family: 'Sf Pro Display Medium', Arial, sans-serif;
  opacity: 0.5;
  cursor: pointer;
}

.bottom-menu-item img {
  width: 1.8rem;
  height: 1.8rem;
  display: block;
  margin: 0 auto 0.25rem auto;
}

.bottom-menu .selected {
  opacity: 1;
  cursor: default;
}






.logo-container {
  position: relative;
  pointer-events: none;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  margin: 0.5rem auto 0 auto;
}

.logo {
  width: 50%;
  margin: 0 auto;
}



.last-update {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding-top: calc(var(--tg-safe-area-inset-top, 0px) + var(--tg-content-safe-area-inset-top));
    color: #8C8C8C;
  font-size: 1rem;
  font-family: 'Sf Pro Display Medium', Arial, sans-serif;
}







.notice {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: calc(90% + 1rem);
  margin: 0.5rem auto 0 auto;
  border-radius: 0.7rem;
  background-color: #1C1C1C;
  border: 1px solid #3D3C3F;
}
.notice span {
  color: #97979D;
  font-size: 0.9rem;
  font-family: 'Sf Pro Display Regular', Arial, sans-serif;
  padding: .5rem;
}




.single-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(90% + 1rem);
  margin: 0.5rem auto 0 auto;
  border-radius: 0.7rem;
  background-color: #2e3e2b;
  border: 1px solid #749C6C;
}
.single-button span {
  color: #749C6C;
  font-size: 0.9rem;
  font-family: 'Sf Pro Display Bold', Arial, sans-serif;
  padding: .5rem;
}
.single-button svg {
  width: 1rem;
  margin-right: 0.5rem;
}












.toggle-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: calc(90% + 1rem);
  gap: 0.5rem;
  margin: 0.5rem auto 0 auto;
}

.toggle-wrapper .label {
  color: #d5e1d3;
  font-size: 0.9rem;
  font-family: 'Sf Pro Display Regular', Arial, sans-serif;
}

.toggle-wrapper .switch {
  display: flex;
  align-items: center;
  --button-width: 2.5em;
  --button-height: 1.5rem;
  --toggle-diameter: 1.25rem;
  --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
  --toggle-shadow-offset: 10px;
  --toggle-wider: 1rem;
  --color-grey: #000000;
  --color-green: #749C6C;
  cursor: pointer;
}

.toggle-wrapper .slider {
  display: inline-block;
  width: var(--button-width);
  height: var(--button-height);
  background-color: var(--color-grey);
  border-radius: calc(var(--button-height) / 2);
  position: relative;
  transition: 0.1s all ease-in-out;
  border: 1px solid #d5e1d3;

}

.toggle-wrapper .slider::after {
  content: "";
  display: inline-block;
  width: var(--toggle-diameter);
  height: var(--toggle-diameter);
  background-color: #d5e1d3;
  border-radius: calc(var(--toggle-diameter) / 2);
  position: absolute;
  top: var(--button-toggle-offset);
  transform: translateX(var(--button-toggle-offset));
  box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
  transition: 0.1s all ease-in-out;
}

.toggle-wrapper .switch input[type="checkbox"]:checked+.slider {
  background-color: var(--color-green);
}

.toggle-wrapper .switch input[type="checkbox"]:checked+.slider::after {
  transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
  box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
}

.toggle-wrapper .switch input[type="checkbox"] {
  display: none;
}

.toggle-wrapper .switch input[type="checkbox"]:active+.slider::after {
  width: var(--toggle-wider);
}

.toggle-wrapper .switch input[type="checkbox"]:checked:active+.slider::after {
  transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
}







