@font-face {
  font-family: 'Sf Pro Display Regular';
  src: url('../fonts/SFPRODISPLAYREGULAR.OTF') format('truetype')
}

@font-face {
  font-family: 'Sf Pro Display Medium';
  src: url('../fonts/SFPRODISPLAYMEDIUM.OTF') format('truetype')
}

@font-face {
  font-family: 'Sf Pro Display Bold';
  src: url('../fonts/SFPRODISPLAYBOLD.OTF') format('truetype')
}

:root {
  --body-width: 100vw;
  --vw: calc(var(--body-width) / 100);
}

@media (min-width: 500px) {
  :root {
    --body-width: calc(100vh * 0.5);
  }

  body {
    width: var(--body-width);
  }
}

/* Откл выделения */
* {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}



body {
  height: 100vh;
  margin: 0 auto 0 auto;
  background-color: black;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

/* html {
  overflow-x: hidden;
  overflow: hidden;
} */



/* Появление всех элементов при загрузке страницы */
/* #movies-container>* {
  transform: scale(0.9);
  opacity: 0;
  transition: transform 0.25s ease-out, opacity 0.25s ease-out;
}

#movies-container>*.visible {
  transform: scale(1);
  opacity: 1;
} */


.hidden {
  display: none !important;
}



.description {
  margin-left: calc(2.5 * var(--vw) + (100 / 428 * 2 * var(--vw)));
  margin-right: calc(2.5 * var(--vw) + (100 / 428 * 2 * var(--vw)));
  margin-bottom: calc(12.5 * var(--vw));
  padding: calc(2.5 * var(--vw));
  border: calc(100 / 428 * 2 * var(--vw)) solid #97979D;
  border-radius: calc(100 / 428 * 16 * var(--vw));
  font-size: calc(100 / 428 * 16 * var(--vw));
  font-family: 'Sf Pro Display Regular', Arial, sans-serif;
  color: #97979D;
}

.table-title {
  text-align: center;
  font-size: calc(100 / 428 * 20 * var(--vw));
  font-family: 'Sf Pro Display Bold', Arial, sans-serif;
  color: #97979D;
}

.number-container {
  display: flex;
  position: relative;
  align-items: flex-start;
  color: #fff;
  border-radius: calc(100 / 428 * 16 * var(--vw));
  background-color: #1C1C1D;
  width: 95%;
  margin: calc(2.5 * var(--vw)) auto;
}

.number-container:first-child {
  border-top: none;
}

.number {
  position: sticky;
  text-align: center;
  padding: calc(100 / 428 * 10.5 * var(--vw)) 0 calc(100 / 428 * 10.5 * var(--vw)) 0;
  min-width: calc(100 / 428 * 48 * var(--vw));
  font-size: calc(100 / 428 * 20 * var(--vw));
  font-family: 'Sf Pro Display Bold', Arial, sans-serif;
  color: #97979D;
}

.cards>*:first-child .info {
  border-top: none;
  border-top-right-radius: calc(100 / 428 * 16 * var(--vw));
}

.cards>*:last-child .info {
  border-bottom-right-radius: calc(100 / 428 * 16 * var(--vw));
}

.cards,
.card,
.info {
  width: 100%;
}

.info {
  display: flex;
  align-items: center;
  position: sticky;
  width: calc(95 * var(--vw) - (100 / 428 * 48 * var(--vw)));
  background-color: #1C1C1D;
  border-top: calc(100 / 428 * 1 * var(--vw)) solid rgba(151, 151, 157, 0.5);
  padding: calc(100 / 428 * 8 * var(--vw)) 0 calc(100 / 428 * 8 * var(--vw)) 0;
  font-size: calc(100 / 428 * 20 * var(--vw));
  font-family: 'Sf Pro Display Bold', Arial, sans-serif;
  z-index: 1;
}

.name {
  flex: 1;
  overflow-wrap: break-word;
  word-break: break-word;
}

.movies-num {
  text-align: center;
  width: calc(100 / 428 * 48 * var(--vw));
}

.show-hide-movies {
  padding: 0 calc(100 / 428 * 8 * var(--vw)) 0 calc(100 / 428 * 8 * var(--vw));
  height: 100%;
  cursor: pointer;
}

.show-hide-movies svg {
  width: calc(100 / 1284 * 50 * var(--vw));
  height: calc(100 / 428 * 24 * var(--vw));
  transition: transform .5s ease;
}

.show-hide-movies.open svg {
  transform: rotate(180deg);
}






.movies {
  height: 0;
  width: calc(95 * var(--vw) - (100 / 428 * 48 * var(--vw)) - (100 / 428 * 32.664 * var(--vw)));
  overflow: hidden;
  transition: height 0.5s ease;
}

.movies .movie:last-child {
  margin-bottom: calc(100 / 428 * 32 * var(--vw));
}

.movie {
  display: flex;
  margin: calc(100 / 428 * 16 * var(--vw)) 0 calc(100 / 428 * 16 * var(--vw)) 0;
  padding-left: calc(100 / 428 * 8 * var(--vw));
  border-left: calc(100 / 428 * 4 * var(--vw)) solid rgba(151, 151, 157, 0.5);
  font-size: calc(100 / 428 * 12 * var(--vw));
  color: #97979D;
}

.movie .content {
  width: calc(100% - calc(100 / 428 * 16 * var(--vw))); 
}
.movie .links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* gap: calc(100 / 428 * 4 * var(--vw)); */
}

.movie .links svg {
  width: calc(100 / 428 * 16 * var(--vw));
  height: calc(100 / 428 * 16 * var(--vw));
  /* display: block; */
}


.movie:first-child {
  gap: calc(100 / 428 * 16 * var(--vw));
  margin-top: 0;
  width: 100%;
  border-left: none;
  padding-left: 0
}

.movie:first-child img {
  width: calc(100 / 428 * 125 * var(--vw));
  height: calc(100 / 428 * 125 * var(--vw));
  border-radius: calc(100 / 428 * 16 * var(--vw));
  background-color: #97979D;
  object-fit: cover;

}

.person-add {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: calc(100 / 428 * 16 * var(--vw));
}

.average-rating,
.kp-page {
  display: flex;
  flex-direction: column;
  font-size: calc(100 / 428 * 16 * var(--vw));
  font-family: 'Sf Pro Display Medium', Arial, sans-serif;
  /* gap: calc(100 / 428 * 8 * var(--vw)); */
}

.average-rating-num,
.kp-page-button {
  color: #1C1C1D;
  text-align: center;
  padding: calc(100 / 428 * 4 * var(--vw));
  background-color: #97979D;
  border-radius: calc(100 / 428 * 8 * var(--vw));
  cursor: pointer;
}
.average-rating-num {
  background-color: #FFD43B;
}
.kp-page-button {
  background-color: #E44B14;
}



/* .movie:first-child span {
  height: calc(100 / 428 * 150 * var(--vw));
  display: block;
} */

.movie-title {
  display: inline-block;
  font-size: calc(100 / 428 * 16 * var(--vw));
  font-family: 'Sf Pro Display Bold', Arial, sans-serif;
}

.movie-title-en {
  display: block;
  font-family: 'Sf Pro Display Medium', Arial, sans-serif;
}

.movie-meta {
  display: inline-flex;
  align-items: center;
  margin-top: calc(100 / 428 * 4 * var(--vw));;
  gap: calc(100 / 428 * 4 * var(--vw));
  font-family: 'Sf Pro Display Redular', Arial, sans-serif;
}

.score-icon {
  height: calc(100 / 428 * 10 * var(--vw));
  width: calc(100 / 428 * 10 * var(--vw));
}

.movie-tags {
  display: flex;
  align-items: center;
  gap: calc(100 / 428 * 4 * var(--vw));
  font-size: calc(100 / 428 * 12 * var(--vw));
  margin-top: calc(100 / 428 * 2 * var(--vw));
  font-family: 'Sf Pro Display Regular', Arial, sans-serif;
  color: rgba(151, 151, 157, 0.25);
}

.movie-tags span {
  text-align: center;
  width: calc(100 / 428 * 65 * var(--vw));
  border-radius: calc(100 / 428 * 4 * var(--vw));
  border: calc(100 / 428 * 1 * var(--vw)) solid rgba(151, 151, 157, 0.25);
  cursor: pointer;
}






.sorting {
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  width: calc(100 * var(--vw));
  background-color: #1C1C1C;
  border-top: calc(100 / 428 * 2 * var(--vw)) solid #3D3C3F;
  border-top-left-radius: calc(100 / 428 * 16 * var(--vw));
  border-top-right-radius: calc(100 / 428 * 16 * var(--vw));
  box-shadow: 0 0 calc(100 / 428 * 16 * var(--vw)) calc(100 / 428 * 4 * var(--vw)) rgba(0, 0, 0, 1);
  touch-action: none;
  color: #749C6C;
  z-index: 11;
}

.sorting-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  gap: calc(100 / 428 * 8 * var(--vw));
  margin: calc(100 / 428 * 8 * var(--vw)) auto 0 auto;
  border-top: calc(100 / 428 * 1 * var(--vw)) solid #3D3C3F;
  padding-top: calc(100 / 428 * 8 * var(--vw));
}

.sorting-users-scroll {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 90%;
  margin-left: 5%;
  scrollbar-width: none;
  -ms-overflow-style: none;
  gap: calc(100 / 428 * 8 * var(--vw));
  margin-top: calc(100 / 428 * 8 * var(--vw));
}

.sorting-users-scroll::-webkit-scrollbar {
  display: none;
}

.sorting-user {
  flex: 0 0 auto;
  text-align: center;
  min-width: 25%;
  font-size: calc(100 / 428 * 16 * var(--vw));
  font-family: 'Sf Pro Display Medium', Arial, sans-serif;
  cursor: pointer;
  background-color: #2e3e2b;
  padding: calc(100 / 428 * 4 * var(--vw));
  border-radius: calc(100 / 428 * 8 * var(--vw));
}

.selected {
  background-color: #749C6C;
  color: #d5e1d3;
  transition: background-color 0.1s, color 0.1s;
}



