@font-face {
  font-family: 'Sf Pro Display Regular';
  src: url('../../fonts/SFPRODISPLAYREGULAR.OTF') format('truetype')
}

@font-face {
  font-family: 'Sf Pro Display Medium';
  src: url('../../fonts/SFPRODISPLAYMEDIUM.OTF') format('truetype')
}

@font-face {
  font-family: 'Sf Pro Display Bold';
  src: url('../../fonts/SFPRODISPLAYBOLD.OTF') format('truetype')
}

/* Откл выделения */
* {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}



body {
  background-color: black;
  color: #d5e1d3;
  font-family: 'Sf Pro Display Regular', Arial, sans-serif;
  overflow-x: hidden;
}




/* Появление всех элементов при загрузке страницы */
#movies-container>* {
  transform: scale(0.9);
  opacity: 0;
  transition: transform 0.25s ease-out, opacity 0.25s ease-out;
}

#movies-container>*.visible {
  transform: scale(1);
  opacity: 1;
}


.hidden {
  display: none !important;
}













.sorting {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #1C1C1C;
  border-top: 0.1rem solid #3D3C3F;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  box-shadow: 0 0 1rem 0.25rem rgba(0, 0, 0, 1);
  touch-action: none;
  color: #749C6C;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease, transform 1s ease;
  will-change: opacity;
}
.sorting.hide {
  opacity: 0;
  transform: translateY(100%);
  pointer-events: none;
}

.sorting-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  gap: .5rem;
  margin: 0.5rem auto 0 auto;
  border-top: 1px solid #3D3C3F;
  padding-top: 0.5rem;
}

.sorting-item,
.sorting-user {
  flex: 1;
  text-align: center;
  font-size: 1rem;
  font-family: 'Sf Pro Display Medium', Arial, sans-serif;
  cursor: pointer;
  background-color: #2e3e2b;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.sorting-user {
  flex: 0 0 auto;
  min-width: 25%;
}

.sorting-users-scroll {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 90vw;
  margin-left: 5%;
  scrollbar-width: none;
  -ms-overflow-style: none;
  gap: .5rem;
  margin-top: 2.5vw;
}

.sorting-users-scroll::-webkit-scrollbar {
  display: none;
}

.selected {
  background-color: #749C6C;
  color: #d5e1d3;
  transition: background-color 0.1s, color 0.1s;
}









#movies-container {
  padding-top: calc(var(--tg-safe-area-inset-top, 0px) + var(--tg-content-safe-area-inset-top));
  padding-bottom: 10rem;
}



.movie-card {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  font-family: 'SF Pro Display', Arial, sans-serif;
  color: #fff;
  background-color: #1C1C1D;
  padding: 0.75rem;
  border-radius: 1rem;
  margin: 1rem auto;
  max-width: 90%;
}

.movie-number {
  text-align: center;
  min-width: 3rem;
  font-size: 1.25rem;
  font-family: 'Sf Pro Display Bold', Arial, sans-serif;
  color: #97979D;
}

.movie-info {
  flex: 1;
}

.movie-title {
  display: inline-block;
  font-size: 1.25rem;
  font-family: 'Sf Pro Display Bold', Arial, sans-serif;
}

.movie-meta {
  display: block;
  font-size: 1rem;
  font-family: 'Sf Pro Display Medium', Arial, sans-serif;
  margin-top: 0.25rem;
  color: #97979D;
}



.movie-rating-row {

  display: flex;
  align-items: flex-start;
  align-items: center;
  /* gap: 0.5rem; */
  margin-top: 0.25rem;
  width: 100%;
  opacity: .75;
}

.movie-score {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  color: #FFD43B;
  font-family: 'Sf Pro Display Medium', Arial, sans-serif;
}

.score-icon {
  height: 1.3rem;
  width: 1.3rem;
}



.movie-ratings {
  font-size: .75rem;
  border-left: 1px solid #C6A635;
  color: #C6A635;
  font-family: 'Sf Pro Display Bold', Arial, sans-serif;
  /* white-space: pre-wrap; */
}

.movie-ratings span {
  display: block;
}

.movie-rating-row div {
  flex: 1;
  text-align: center;
  max-width: calc(100% / 3);
  /* padding: 0.25rem; */

  /* border: 1px solid #97979D; */
}












.movie-tags {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-top: 0.5rem;
  width: 100%;
  font-size: .75rem;
  font-family: 'Sf Pro Display Medium', Arial, sans-serif;
  color: #78787D;
}

.movie-tags span {
  flex: 1;
  text-align: center;
  max-width: calc((100% / 3) - 1rem);
  padding: 0.25rem;
  border-radius: .5rem;
  border: 1px solid #78787D;
  cursor: pointer;
}
























#search-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1C1C1C;
  border-bottom: 0.1rem solid #3D3C3F;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 0 0 1rem 0.25rem rgba(0, 0, 0, 1);
  touch-action: none;
  z-index: 10;
}


.form {
  display: flex;
  --input-text-color: #d5e1d3;
  /* --input-bg-color: #2e3e2b; */
  /* --focus-input-bg-color: #2e3e2b; */
  --text-color: #97979D ;
  --active-color: #ffffff;
  /* --width-of-input: 200px; */
  --inline-padding-of-input: 1.2em;
  --gap: 0.9rem;
}

.form {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: 100%;
  position: relative;
  isolation: isolate;
  margin: 0 auto 2.5vw auto;
}


/* label styling */
label {
  width: 100%;
  padding: 0.15rem;
  /* height: 40px; */
  padding-inline: var(--inline-padding-of-input);
  display: flex;
  align-items: center;
}

.search,
.close-btn {
  position: absolute;
}

/* styling search-icon */
.search {
  fill: var(--text-color);
  /* left: var(--inline-padding-of-input); */
}

/* svg -- size */
svg {
  width: 17px;
  display: block;
}

/* styling of close button */
.close-btn {
  border: none;
  right: var(--inline-padding-of-input);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1em;
  width: 20px;
  height: 20px;
  /* border-radius: 50%; */
  background: transparent;
  /* opacity: 0; */
  /* visibility: hidden; */
}

/* styling of input */
.input {
  color: var(--input-text-color);
  width: 100%;
  margin-inline: min(2em, calc(var(--inline-padding-of-input) + var(--gap)));
  background: none;
  border: none;
  font-family: 'Sf Pro Display Regular', Arial, sans-serif;
  font-size: 1rem;
  border-bottom: 0.1rem solid #3D3C3F;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: var(--text-color)
}

/* input background change in focus */
.input:focus~.fancy-bg {
  border: 1px solid var(--active-color);
  background: var(--focus-input-bg-color);
}

/* search icon color change in focus */
.input:focus~.search {
  fill: var(--active-color);
}

/* showing close button when typing */
.input:valid~.close-btn {
  opacity: 1;
  visibility: visible;
}

/* this is for the default background in input,when selecting autofill options -- you can remove this code if you do not want to override the browser style.  */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}


