@font-face {
  font-family: 'Sf Pro Display Regular';
  src: url('../fonts/SFPRODISPLAYREGULAR.OTF') format('truetype')
}

@font-face {
  font-family: 'Sf Pro Display Medium';
  src: url('../fonts/SFPRODISPLAYMEDIUM.OTF') format('truetype')
}

@font-face {
  font-family: 'Sf Pro Display Bold';
  src: url('../fonts/SFPRODISPLAYBOLD.OTF') format('truetype')
}

:root {
  --body-width: 100vw;
  --vw: calc(var(--body-width) / 100);
}

@media (min-width: 500px) {
  :root {
    --body-width: calc(100vh * 0.5);
  }

  body {
    width: var(--body-width);
  }
}

/* Откл выделения */
* {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}



body {
  background-color: black;
  color: #d5e1d3;
  font-family: 'Sf Pro Display Regular', Arial, sans-serif;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
}

.hidden {
  display: none !important;
}














.sorting {
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  width: calc(100 * var(--vw));
  background-color: #1C1C1C;
  border-top: calc(100 / 428 * 2 * var(--vw)) solid #3D3C3F;
  border-top-left-radius: calc(100 / 428 * 16 * var(--vw));
  border-top-right-radius: calc(100 / 428 * 16 * var(--vw));
  box-shadow: 0 0 calc(100 / 428 * 16 * var(--vw)) calc(100 / 428 * 4 * var(--vw)) rgba(0, 0, 0, 1);
  touch-action: none;
  color: #749C6C;
  z-index: 11;
}

.sorting-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: calc(100% - (100 / 428 * (16 + 16) * var(--vw)));
  /* gap: calc(100 / 428 * 8 * var(--vw)); */
  margin: calc(100 / 428 * 8 * var(--vw)) auto 0 auto;
  /* border-top: calc(100 / 428 * 1 * var(--vw)) solid #3D3C3F; */
  /* padding-top: calc(100 / 428 * 4 * var(--vw)); */
  /* background: #2e3e2b; */
  border-radius: calc(100 / 428 * 8 * var(--vw));

  font-size: calc(100 / 428 * 16 * var(--vw));
  font-family: 'Sf Pro Display Medium', Arial, sans-serif;
  /* overflow: hidden; */
}

#sort2,
#sort3 {
  gap: none;
  background: #2e3e2b;
}


.sorting-item,
.sorting-user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
  cursor: pointer;
  background-color: #2e3e2b;
  padding: 0 calc(100 / 428 * 16 * var(--vw));
  height: calc(100 / 428 * 32 * var(--vw));
  border-radius: calc(100 / 428 * 8 * var(--vw));
}

/* .sorting-user {
  flex: 0 0 auto;
  min-width: 25%;
} */


.sorting-users-scroll-wrapper {
  position: relative;
  overflow: hidden;
  width: calc(100% - calc(100 / 428 * (32 + 8) * var(--vw)));
  /* margin-top: calc(100 / 428 * 8 * var(--vw)); */
}


.sorting-users-scroll {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;
  /* margin-left: 5%; */
  scrollbar-width: none;
  -ms-overflow-style: none;
  background: #2e3e2b;
  border-radius: calc(100 / 428 * 8 * var(--vw));
  /* gap: calc(100 / 428 * 8 * var(--vw)); */
  /* margin-top: calc(100 / 428 * 8 * var(--vw)); */
}

.sorting-users-scroll::-webkit-scrollbar {
  display: none;
}







.selected {
  background-color: #749C6C;
  color: #d5e1d3;
  transition: background-color 0.1s, color 0.1s;
}


















.who-viewed {
  display: flex;
  flex-wrap: wrap;
  gap: calc(100 / 428 * 4 * var(--vw));
  margin-top: calc(100 / 428 * 8 * var(--vw));
  width: 100%;
}

.who-viewed .user {
  text-align: center;
  font-size: calc(100 / 428 * 16 * var(--vw));
  font-family: 'Sf Pro Display Medium', Arial, sans-serif;
  cursor: pointer;
  background-color: #2e3e2b;
  color: #749C6C;
  padding: calc(100 / 428 * 2 * var(--vw)) calc(100 / 428 * 8 * var(--vw)) calc(100 / 428 * 2 * var(--vw)) calc(100 / 428 * 8 * var(--vw));
  border-radius: calc(100 / 428 * 8 * var(--vw));
  opacity: 0.75;
}




















#movies-container div:first-child {
  margin-top: 0;
}

.movie {
  display: flex;
  gap: calc(100 / 428 * 8 * var(--vw));
  font-family: 'SF Pro Display', Arial, sans-serif;
  color: #fff;
  background-color: #1C1C1D;
  padding: calc(100 / 428 * 8 * var(--vw));
  margin: calc(100 / 428 * 12 * var(--vw)) 0;
  border-radius: calc(100 / 428 * 16 * var(--vw));
  /* border-bottom: calc(100 / 428 * 1.5 * var(--vw)) solid #3D3C3F; */
  /* border-top: calc(100 / 428 * 1.5 * var(--vw)) solid #3D3C3F; */
}

.movie-number {
  text-align: center;
  min-width: calc(100 / 428 * 48 * var(--vw));
  font-size: calc(100 / 428 * 20 * var(--vw));
  font-family: 'Sf Pro Display Bold', Arial, sans-serif;
  color: #97979D;
}






.movie .poster {
  height: calc(100 / 1284 * 515 * var(--vw));
  width: calc(100 / 1284 * (427 / 450 * 300) * var(--vw));
  display: flex;
}

.movie .poster img {
  width: 100%;
  object-fit: contain;
  border-radius: calc(100 / 428 * 8 * var(--vw));
  /* border: calc(100 / 428 * 1 * var(--vw)) solid #4c4c4f; */
  background-color: black;
}







.movie .info {
  flex: 1;
  width: calc(100% - (100 / 1284 * (435 / 450 * 300) * var(--vw)) - calc(100 / 428 * 8 * var(--vw)));
}

.movie .title-ru {
  font-size: calc(100 / 428 * 20 * var(--vw));
  font-family: 'Sf Pro Display Bold', Arial, sans-serif;
}

.movie .title-ru,
.movie .title-en,
.movie .meta {
  display: block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie .title-ru.is-open,
.movie .title-en.is-open,
.movie .meta.is-open {
  white-space: normal;
}


.movie .title-en,
.movie .meta {
  font-size: calc(100 / 428 * 16 * var(--vw));
  font-family: 'Sf Pro Display Bold', Arial, sans-serif;
  color: #97979D;
}

.movie .title-en {
  font-family: 'Sf Pro Display Medium', Arial, sans-serif;
}

.movie .meta {
  font-family: 'Sf Pro Display Redular', Arial, sans-serif;
}






.movie-ratings {
  display: flex;
  gap: calc(100 / 428 * 4 * var(--vw));
  ;
  margin-top: calc(100 / 428 * 4 * var(--vw));
  width: 100%;
  height: calc(100 / 428 * 36 * var(--vw));
  font-family: 'Sf Pro Display Medium', Arial, sans-serif;
}

.movie-rating-total {
  flex: 1;
  height: 100%;
  /* text-align: center; */

  /* max-width: calc(100% / 3); */
  border-radius: calc(100 / 428 * 8 * var(--vw));
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;


}

.movie-rating-total {
  font-size: calc(100 / 428 * 24 * var(--vw));
  border: calc(100 / 428 * 1 * var(--vw)) solid #795e0b;
  padding: 0 calc(100 / 428 * 8 * var(--vw));
}

.movie-rating-total .left {
  color: #F2BB15;
  font-family: 'Sf Pro Display Bold', Arial, sans-serif;
}

.movie-rating-total .right {
  /* color: #F2BB15; */
  color: #795e0b;
  font-family: 'Sf Pro Display Bold', Arial, sans-serif;
}

.movie-rating-total span {
  color: #795e0b;
  /* color: #F2BB15; */
  font-family: 'Sf Pro Display Regular', Arial, sans-serif;
}

.movie-rating-total svg {
  width: calc(100 / 428 * 24 * var(--vw));
  height: calc(100 / 428 * 24 * var(--vw));
  fill: #F2BB15;
  margin-right: calc(100 / 428 * 4 * var(--vw));
}





.movie-rating-imdb,
.movie-rating-kp {
  flex-direction: column;
  font-size: calc(100 / 428 * 12 * var(--vw));
  border: calc(100 / 428 * 1 * var(--vw)) solid #4c4c4f;
  color: #97979D;
}

.movie-rating-imdb span,
.movie-rating-kp span {
  display: block;
}





















/* .search {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  right: calc((100vw - var(--body-width)) / 2 + 2.5 * var(--vw));
  width: calc(100 / 428 * 32 * var(--vw));
  height: calc(100 / 428 * 32 * var(--vw));
  background-color: #2B2B2B;
  border: calc(100 / 428 * 2 * var(--vw)) solid #6B6B6B;
  border-radius: calc(100 / 428 * 12 * var(--vw));
  cursor: pointer;
  transition: transform 0.15s ease-in-out;
  transform: translateY(0%);
  z-index: 10;
} */

/* .search-collaps.hide {
  transform: translateY(150%);
} */

/* .search-collaps-svg {
  width: calc(100 / 428 * 16 * var(--vw));
  opacity: 1;
} */





#search {
  background-color: #2B2B2B;
  border: calc(100 / 428 * 2 * var(--vw)) solid #6B6B6B;
  border-radius: calc(100 / 428 * 12 * var(--vw));
  width: calc(100 / 428 * 32 * var(--vw));
  height: calc(100 / 428 * 32 * var(--vw));
  margin-left: calc(100 / 428 * 16 * var(--vw));
  position: fixed;
  display: flex;
  top: 0;
  touch-action: none;
  transition: opacity 0.25s ease;
  z-index: 10;
  transition: width 0.25s ease;
}

#search div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#search .open {
  width: calc(100 / 428 * 32 * var(--vw));
  cursor: pointer;
}

#search .close {
  width: 0;
  overflow: hidden;
  transition: width 0.25s ease
}

#search .input {
  width: 0;
  justify-content: left;
  overflow: hidden;
  transition: width 0.25s ease
}





#search svg {
  width: calc(100 / 428 * 16 * var(--vw));
}

#search input {
  color: #749C6C;
  /* width: 100%; */
  background: none;
  border: none;
  font-family: 'Sf Pro Display Medium', Arial, sans-serif;
  font-size: calc(100 / 428 * 16 * var(--vw));
  outline: none;
  padding: 0;
}

#search input::placeholder {
  color: #749C6C;
}












#search-overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background: transparent;
  z-index: 5;
  cursor: pointer;
}


































.open-close-sorting {
  /* background-color: #3D3C3F; */
  margin-left: calc(100 / 428 * 8 * var(--vw));
  border: calc(100 / 428 * 2 * var(--vw)) solid #2e3e2b;
  border-radius: calc(100 / 428 * 12 * var(--vw));
  width: calc(100 / 428 * 28 * var(--vw));
  height: calc(100 / 428 * 28 * var(--vw));
  /* margin-left: calc(5 * var(--vw)); */
  /* position: fixed; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* bottom: 115px; */
  /* touch-action: none; */
  /* transition: opacity 0.25s ease; */
  /* z-index: 15; */
  /* transition: width 0.25s ease; */

  /* font-family: 'Sf Pro Display Medium', Arial, sans-serif; */
  /* font-size: calc(100 / 428 * 14 * var(--vw)); */
  /* margin-top: calc(100 / 428 * 8 * var(--vw)); */
}

/* .open-close-sorting {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(100 / 428 * 4 * var(--vw));
  border: calc(100 / 428 * 2 * var(--vw)) solid #2e3e2b;
  border-radius: calc(100 / 428 * 8 * var(--vw));
  padding: calc(100 / 428 * 1 * var(--vw)) calc(100 / 428 * 16 * var(--vw));
} */

.open-close-sorting svg {
  width: calc(100 / 428 * 20 * var(--vw));
  height: calc(100 / 428 * 20 * var(--vw));
  fill: #749C6C;
  transition: transform .25s ease;
}

.open-close-sorting svg.rotate {
  transform: rotate(180deg);
}

.closing-sorting {
  overflow: hidden;
  max-height: calc(100 / 428 * 80 * var(--vw));
  transition: max-height .25s ease;
}

.closing-sorting.close {
  max-height: 0;
}








.qf7qgfuqf {
  display: flex;
  justify-content: space-between;
  align-items: center;
}






.iwejfnw {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* text-align: center; */
  /* gap: calc(100 / 428 * 8 * var(--vw)); */
  /* background: #4c4c4f; */
  /* margin-top: calc(100 / 428 * 4 * var(--vw)); */
  padding: calc(100 / 428 * 4 * var(--vw)) calc(100 / 428 * 8 * var(--vw));
  /* color: #97979D; */
  border-radius: calc(100 / 428 * 8 * var(--vw));
  border: calc(100 / 428 * 1 * var(--vw)) solid #4c4c4f;
  /* height: 100%; */
}
.iwejfnw.wefewfwf {
  border: calc(100 / 428 * 1 * var(--vw)) solid #795e0b;
}
.iwejfnw.wefewfwf .wfwfwf {
  color: #795e0b;
  font-size: calc(100 / 428 * 16 * var(--vw));
  /* font-family: 'Sf Pro Display Medium', Arial, sans-serif; */
}

.mr1 {
  /* padding: calc(100 / 428 * 2 * var(--vw)) calc(100 / 428 * 8 * var(--vw)); */
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  font-family: 'Sf Pro Display Regular', Arial, sans-serif;
  /* font-size: calc(100 / 428 * 12 * var(--vw)); */
  margin-top: calc(100 / 428 * 4 * var(--vw));
  /* width: 55%; */
  /* border-radius: calc(100 / 428 * 4 * var(--vw)); */
  /* border-radius: calc(100 / 428 * 8 * var(--vw)); */
  /* border: calc(100 / 428 * 1 * var(--vw)) solid #4c4c4f; */
  /* padding: calc(100 / 428 * 4 * var(--vw)); */
}

.iwejfnw svg {
  width: calc(100 / 428 * 16 * var(--vw));
  height: calc(100 / 428 * 16 * var(--vw));
  /* background: #97979D;
  fill: #97979D; */
}

.sfwfwfwf span:first-child {
  color: #fff;
  font-family: 'Sf Pro Display Medium', Arial, sans-serif;
}

.sfwfwfwf span:last-child {
  color: #97979D;
  /* font-size: calc(100 / 428 * 12 * var(--vw)); */
}


.sfwfwfwf span {
  display: block;
}


.weifhewfhewhf {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(100 / 428 * 16 * var(--vw));
  gap: calc(100 / 428 * 4 * var(--vw));
}
.weifhewfhewhf.rrrggf {
  gap: 0;
  font-size: calc(100 / 428 * 20 * var(--vw));
  font-family: 'Sf Pro Display Medium', Arial, sans-serif;
}
.weifhewfhewhf.rrrggf .llll1 {
  color: #F2BB15;
}
.weifhewfhewhf.rrrggf .llll2 {
  color: #795e0b;
}
.weifhewfhewhf.rrrggf svg {
  fill: #F2BB15;
  width: calc(100 / 428 * 20 * var(--vw));
  height: calc(100 / 428 * 20 * var(--vw));
  margin-right: calc(100 / 428 * 4 * var(--vw));
}



.wfwfwf {
  display: block;
  text-align: center;
  font-size: calc(100 / 428 * 12 * var(--vw));
  color: #97979D;
}