@font-face {
  font-family: 'Sf Pro Display Regular';
  src: url('../fonts/SFPRODISPLAYREGULAR.OTF') format('truetype')
}

@font-face {
  font-family: 'Sf Pro Display Medium';
  src: url('../fonts/SFPRODISPLAYMEDIUM.OTF') format('truetype')
}

@font-face {
  font-family: 'Sf Pro Display Bold';
  src: url('../fonts/SFPRODISPLAYBOLD.OTF') format('truetype')
}

:root {
  --body-width: 100vw;
  --vw: calc(var(--body-width) / 100);
}

@media (min-width: 500px) {
  :root {
    --body-width: calc(100vh * 0.5);
  }

  body {
    width: var(--body-width);
  }
}

/* Откл выделения */
* {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}



body {
  background-color: black;
  color: #d5e1d3;
  font-family: 'Sf Pro Display Regular', Arial, sans-serif;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
}




/* Появление всех элементов при загрузке страницы */
#movies-container>* {
  transform: scale(0.9);
  opacity: 0;
  transition: transform 0.25s ease-out, opacity 0.25s ease-out;
}

#movies-container>*.visible {
  transform: scale(1);
  opacity: 1;
}


.hidden {
  display: none !important;
}















.sorting {
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  width: calc(100 * var(--vw));
  background-color: #1C1C1C;
  border-top: calc(100 / 428 * 2 * var(--vw)) solid #3D3C3F;
  border-top-left-radius: calc(100 / 428 * 16 * var(--vw));
  border-top-right-radius: calc(100 / 428 * 16 * var(--vw));
  box-shadow: 0 0 calc(100 / 428 * 16 * var(--vw)) calc(100 / 428 * 4 * var(--vw)) rgba(0, 0, 0, 1);
  touch-action: none;
  color: #749C6C;
  z-index: 11;
}

.sorting-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  gap: calc(100 / 428 * 8 * var(--vw));
  margin: calc(100 / 428 * 8 * var(--vw)) auto 0 auto;
  border-top: calc(100 / 428 * 1 * var(--vw)) solid #3D3C3F;
  padding-top: calc(100 / 428 * 8 * var(--vw));
}

.sorting-item,
.sorting-user {
  flex: 1;
  text-align: center;
  font-size: calc(100 / 428 * 16 * var(--vw));
  font-family: 'Sf Pro Display Medium', Arial, sans-serif;
  cursor: pointer;
  background-color: #2e3e2b;
  padding: calc(100 / 428 * 4 * var(--vw));
  border-radius: calc(100 / 428 * 8 * var(--vw));
}

.sorting-user {
  flex: 0 0 auto;
  min-width: 25%;
}

.sorting-users-scroll {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 90%;
  margin-left: 5%;
  scrollbar-width: none;
  -ms-overflow-style: none;
  gap: calc(100 / 428 * 8 * var(--vw));
  margin-top: calc(100 / 428 * 8 * var(--vw));
}

.sorting-users-scroll::-webkit-scrollbar {
  display: none;
}

.selected {
  background-color: #749C6C;
  color: #d5e1d3;
  transition: background-color 0.1s, color 0.1s;
}








#movies-container div:first-child {
  margin-top: 0;
}

.movie-card {
  display: flex;
  align-items: stretch;
  gap: calc(100 / 428 * 8 * var(--vw));
  font-family: 'SF Pro Display', Arial, sans-serif;
  color: #fff;
  background-color: #1C1C1D;
  padding: calc(100 / 428 * 8 * var(--vw));
  border-radius: calc(100 / 428 * 16 * var(--vw));
  margin: calc(2.5 * var(--vw)) auto;
  width: calc(95% - calc(100 / 428 * 16 * var(--vw)));
}

.movie-number {
  text-align: center;
  min-width: calc(100 / 428 * 48 * var(--vw));
  font-size: calc(100 / 428 * 20 * var(--vw));
  font-family: 'Sf Pro Display Bold', Arial, sans-serif;
  color: #97979D;
}

.movie-img {
  height: 100%;
  width: calc(100 / 428 * 96 * var(--vw));
  display: flex;
}

.movie-img img {
  width: 100%;
  object-fit: cover;
  border-radius: calc(100 / 428 * 8 * var(--vw));
  border: calc(100 / 428 * 1 * var(--vw)) solid #78787D;
  background-color: #78787D;
}


.movie-info {
  flex: 1;
}

.movie-title {
  display: inline-block;
  font-size: calc(100 / 428 * 20 * var(--vw));
  font-family: 'Sf Pro Display Bold', Arial, sans-serif;
}

.movie-title-en,
.movie-meta {
  display: block;
  font-size: calc(100 / 428 * 16 * var(--vw));
  font-family: 'Sf Pro Display Bold', Arial, sans-serif;
  margin-top: calc(100 / 428 * 4 * var(--vw));
  color: #97979D;
}

.movie-title-en {
  font-family: 'Sf Pro Display Medium', Arial, sans-serif;
}

.movie-meta {
  font-family: 'Sf Pro Display Redular', Arial, sans-serif;
}

.movie-rating-row {
  display: flex;
  align-items: flex-start;
  align-items: center;
  margin-top: calc(100 / 428 * 4 * var(--vw));
  width: 100%;
  opacity: .75;
}

.movie-score {
  display: inline-flex;
  align-items: center;
  gap: calc(100 / 428 * 4 * var(--vw));
  font-size: calc(100 / 428 * 24 * var(--vw));
  color: #FFD43B;
  font-family: 'Sf Pro Display Medium', Arial, sans-serif;
}

.score-icon {
  height: calc(100 / 428 * 22 * var(--vw));
  width: calc(100 / 428 * 22 * var(--vw));
}

.movie-ratings {
  font-size: calc(100 / 428 * 12 * var(--vw));
  border-left: calc(100 / 428 * 1 * var(--vw)) solid #C6A635;
  color: #C6A635;
  font-family: 'Sf Pro Display Bold', Arial, sans-serif;
}

.movie-ratings span {
  display: block;
}

.movie-rating-row div {
  flex: 1;
  text-align: center;
  max-width: calc(100% / 3);
}

.movie-tags {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: calc(100 / 428 * 8 * var(--vw));
  margin-top: calc(100 / 428 * 8 * var(--vw));
  width: 100%;
  font-size: calc(100 / 428 * 12 * var(--vw));
  font-family: 'Sf Pro Display Medium', Arial, sans-serif;
  color: #78787D;
}

.movie-tags span {
  flex: 1;
  text-align: center;
  max-width: calc((100% / 3) - calc(100 / 428 * 16 * var(--vw)));
  padding: calc(100 / 428 * 4 * var(--vw));
  border-radius: calc(100 / 428 * 8 * var(--vw));
  border: calc(100 / 428 * 1 * var(--vw)) solid #78787D;
  cursor: pointer;
}





















.search-collaps {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  right: calc((100vw - var(--body-width)) / 2 + 2.5 * var(--vw));
  width: calc(100 / 428 * 32 * var(--vw));
  height: calc(100 / 428 * 32 * var(--vw));
  background-color: #2B2B2B;
  border: calc(100 / 428 * 2 * var(--vw)) solid #6B6B6B;
  border-radius: calc(100 / 428 * 12 * var(--vw));
  cursor: pointer;
  transition: transform 0.15s ease-in-out;
  transform: translateY(0%);
  z-index: 10;
}

.search-collaps.hide {
  transform: translateY(150%);
}

.search-collaps-svg {
  width: calc(100 / 428 * 16 * var(--vw));
  opacity: 1;
}






#overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background: transparent;
  z-index: 5;
  cursor: pointer;
}

#overlay.active {
  display: block;
}









.search-top-collaps {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: calc((100vw - var(--body-width)) / 2 + 2.5 * var(--vw));
  width: calc(95 * var(--vw) - (100 / 428 * 4 * var(--vw)));;
  background-color: #2B2B2B;
  min-height: calc(100 / 428 * 32 * var(--vw));;
  border: calc(100 / 428 * 2 * var(--vw)) solid #6B6B6B;
  border-radius: calc(100 / 428 * 16 * var(--vw));
  box-shadow: 0 0 calc(100 / 428 * 16 * var(--vw)) calc(100 / 428 * 4 * var(--vw)) rgba(0, 0, 0, 1);
  transition: transform 0.15s ease-in-out;
  transform: translateY(-25vh);
  cursor: pointer;
  z-index: 10;

}
.search-top-collaps.active {
  transform: translateY(0);
}

.search-top-collaps .input {
  width: calc(100% - calc(100 / 1284 * 126 * 2 * var(--vw)));
  display: flex;
  align-items: center;
  overflow-wrap: break-word;
  word-break: break-word;
}


.search-top-collaps .input span {
  font-size: calc(100 / 1284 * 50 * var(--vw));
  font-family: 'Sf Pro Display Medium', Arial, sans-serif;
  color: #6B6B6B;
  margin: calc(100 / 1284 * 21.5 * var(--vw)) calc(100 / 1284 * 43 * var(--vw)) calc(100 / 1284 * 21.5 * var(--vw)) calc(100 / 1284 * 43 * var(--vw));
  display: block;
  width: 100%;
  line-height: 1.2;
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}

.keyboard-collaps-close {
  min-height: calc(100 / 428 * 32 * var(--vw));;
}
.keyboard-collaps-close svg {
  transition: fill 0.15s ease-in-out;
  fill: #6B6B6B;
}
.keyboard-collaps-close:hover svg {
  fill: rgb(150, 50, 50);
}






















.keyboards {
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  width: calc(100 * var(--vw));
  background-color: #2B2B2B;
  box-shadow: 0 0 calc(100 / 428 * 16 * var(--vw)) calc(100 / 428 * 4 * var(--vw)) rgba(0, 0, 0, 1);
  touch-action: none;
  color: white;
  border-top-left-radius: calc(100 / 1284 * 51.5 * var(--vw));
  border-top-right-radius: calc(100 / 1284 * 51.5 * var(--vw));
  z-index: 15;
  transition: transform 0.15s ease-in-out;
  transform: translateY(150%);
}

.keyboards.active {
  transform: translateY(0%);
}

.search {
  display: flex;
  align-items: center;
  width: calc(100 * var(--vw));
  background-color: #1C1C1D;
  padding: calc(100 / 1284 * 18.5 * var(--vw)) 0 calc(100 / 1284 * 18.5 * var(--vw)) 0;
  border-top: calc(100 / 1284 * 5 * var(--vw)) solid #2E2E31;
  border-top-left-radius: calc(100 / 1284 * 51.5 * var(--vw));
  border-top-right-radius: calc(100 / 1284 * 51.5 * var(--vw));
}

.search-icon {
  width: calc(100 / 1284 * 126 * var(--vw));
  display: flex;
  align-items: center;
  justify-content: center;
}

.search .input {
  background-color: #2B2B2B;
  width: calc(100% - calc(100 / 1284 * 126 * 2 * var(--vw)));
  min-height: calc(100 / 1284 * 103 * var(--vw));
  display: flex;
  align-items: center;
  border-radius: calc(100 / 1284 * 51.5 * var(--vw));
  border: calc(100 / 1284 * var(--vw)) solid #262628;
  overflow-wrap: break-word;
  word-break: break-word;
}



.search .input span {
  font-size: calc(100 / 1284 * 50 * var(--vw));
  font-family: 'Sf Pro Display Medium', Arial, sans-serif;
  color: #6B6B6B;
  margin: calc(100 / 1284 * 21.5 * var(--vw)) calc(100 / 1284 * 43 * var(--vw)) calc(100 / 1284 * 21.5 * var(--vw)) calc(100 / 1284 * 43 * var(--vw));
  display: block;
  width: 100%;
  line-height: 1.2;
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}

.keyboard-clear {
  width: calc(100 / 1284 * 103 * var(--vw));
  align-items: center;
  justify-content: center;
  transition: opacity 0.15s ease-in-out;
  opacity: 0;
  cursor: pointer;
}

.keyboard-clear.active {
  opacity: 1;
}

.keyboard-collaps-close,
.keyboard-collapse {
  width: calc(100 / 1284 * 126 * var(--vw));
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search-icon,
.input,
.keyboard-clear,
.keyboard-collapse {
  display: flex;
}

.search-top-collaps svg,
.search svg {
  width: calc(100 / 1284 * 50 * var(--vw));
}







.keyboard {
  width: calc(100 / 1284 * 1260 * var(--vw));
  margin: calc(100 / 428 * 8 * var(--vw)) auto 0 auto;
}

.keyboard .ru,
.keyboard .en,
.keyboard .numbers,
.keyboard .bottom-row {
  display: flex;
  gap: calc(100 / 1284 * 18 * var(--vw));
  margin-top: calc(100 / 1284 * 33 * var(--vw));
}

.keyboard span,
.keyboard .delete,
.keyboard .change-lang {
  text-align: center;
  width: calc(((100 / 1284 * 1260) - (100 / 1284 * 11 * 18)) / 12 * var(--vw));
  background-color: #6B6B6B;
  font-size: calc(100 / 1284 * 65 * var(--vw));
  font-family: 'Sf Pro Display Regular', Arial, sans-serif;
  border-radius: calc(100 / 1284 * 18 * var(--vw));
  height: calc(100 / 1284 * 134 * var(--vw));
  line-height: calc(100 / 1284 * 134 * var(--vw));
  border-bottom: calc(100 / 1284 * 5 * var(--vw)) solid #1A1A1A;
  cursor: pointer;
}

/* Ширина у клавиш англ клавиатуры немного больше */
.keyboard .en span {
  width: calc(((100 / 1284 * 1260) - (100 / 1284 * 9 * 18)) / 10 * var(--vw));
}

.keyboard .delete,
.keyboard .change-lang {
  display: flex;
  align-items: center;
  justify-content: center;
}

.keyboard .close-keyboard,
.keyboard .change-lang {
  margin: 0;
  width: calc(100 / 1284 * 307 * var(--vw));
  background-color: #464646;
  font-size: calc(100 / 1284 * 50 * var(--vw));
}

.keyboard .space {
  flex: 1;
  font-size: calc(100 / 428 * 16 * var(--vw));
}

.keyboard .delete svg,
.keyboard .change-lang svg {
  width: calc(100 / 1284 * 70 * var(--vw));
}

.keyboard .show-hide-numbers,
.keyboard .delete {
  width: calc(((100 / 1284 * 1260) - ((100 / 1284 * 10 * 18) + (((100 / 1284 * 1260) - (100 / 1284 * 11 * 18)) / 12 * 9))) / 2 * var(--vw));
  background-color: #464646;
  font-size: calc(100 / 1284 * 50 * var(--vw));
}

/* На англ клавиатуре эти клавиши квадратные */
.keyboard .en .show-hide-numbers,
.keyboard .en .keyboard-delete {
  width: calc(100 / 1284 * 134 * var(--vw));
}

.keyboard .en .show-hide-numbers {
  margin-right: calc(100 / 1284 * 39.711 * var(--vw));
}
.keyboard .en .delete {
  margin-left: calc(100 / 1284 * 39.711 * var(--vw));
}



.keyboard .show-hide-numbers.active {
  font-family: 'Sf Pro Display Medium', Arial, sans-serif;
  background-color: #D4D4D4;
  color: black;
}


.keyboard .numbers span {
  width: calc(((100 / 1284 * 1260) - (100 / 1284 * 9 * 18)) / 10 * var(--vw));
  background-color: #464646;
}













.keyboard-button-zoom {
  display: none;
  position: absolute;
  width: calc(100 / 428 * 50 * var(--vw));
  height: calc(100 / 428 * 50 * var(--vw));
  /* left: 0;
  top: 0; */
  background-color: red;
  z-index: 100000;
}