@font-face {
  font-family: 'Sf Pro Display Regular';
  src: url('../../fonts/SFPRODISPLAYREGULAR.OTF') format('truetype')
}

@font-face {
  font-family: 'Sf Pro Display Medium';
  src: url('../../fonts/SFPRODISPLAYMEDIUM.OTF') format('truetype')
}

@font-face {
  font-family: 'Sf Pro Display Bold';
  src: url('../../fonts/SFPRODISPLAYBOLD.OTF') format('truetype')
}

/* Откл выделения */
* {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}



body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #d5e1d3;
  font-family: 'Sf Pro Display Regular', Arial, sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100vh;
}

/* Появление всех элементов при загрузке страницы */
body > * {
  transform: scale(0.9);
  opacity: 0;
  transition: transform 0.25s ease-out, opacity 0.25s ease-out;
}
body > *.visible {
  transform: scale(1);
  opacity: 1;
}



html, body {
  overscroll-behavior: none;
}
html {
  overflow-x: hidden;
  overflow: hidden;
}




.hidden {
  display: none !important;
}













.movie-chart {
  --color: #749C6C;
  --aspect-ratio: 2 / 1;
}



.charts-css.show-heading caption {
  font-size: 1.25rem;
  padding: 4rem 0 0.5rem 0;
  /* color: #90b089; */
  font-family: 'Sf Pro Display Bold', Arial, sans-serif;
}

/* Уменьшить ширину места для имён */
.charts-css.bar {
  --labels-size: 3.75rem;
}

table.charts-css {
  --data-axes-color: #2a2a2a;
}





.titles {
  display: flex;
  padding-top: 0.5rem;
}

.titles div {
  min-width: 7rem;
  margin: 0 0.25rem 0 0.25rem;
  text-align: center;
}












.sorting {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #1C1C1C;
  border-top: 0.1rem solid #3D3C3F;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  box-shadow: 0 0 1rem 0.25rem rgba(0, 0, 0, 1);
  touch-action: none;
  color: #749C6C;
}

.sorting-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  gap: .5rem;
  margin: 0.5rem auto 0 auto;
  border-top: 1px solid #3D3C3F;
  padding-top: 0.5rem;
}

.sorting-item,
.sorting-user {
  flex: 1;
  text-align: center;
  font-size: 1rem;
  font-family: 'Sf Pro Display Medium', Arial, sans-serif;
  cursor: pointer;
  background-color: #2e3e2b;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.sorting-user {
  flex: 0 0 auto;
  min-width: 25%;
}

.sorting-users-scroll {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 90%;
  margin-left: 5%;
  scrollbar-width: none;
  -ms-overflow-style: none;
  gap: .5rem;
  margin-top: .5rem;
}

.sorting-users-scroll::-webkit-scrollbar {
  display: none;
}

.selected {
  background-color: #749C6C;
  color: #d5e1d3;
  transition: background-color 0.1s, color 0.1s;
}





